@import url(http://fonts.googleapis.com/css?family=Nunito&subset=latin);
body {
  padding-top: 60px;
  font-family: "Nunito", sans-serif;
}
img.avatar {
  float: right;
}
div.hero-unit {
  background: rgb(122,188,255) url(../images/square_bg.png);
  color: black;
}
div.hero-unit h1 {
  color: black;
}
div.hero-unit h1 small {
  color: white;
  letter-spacing: 1px;
}
section {
  padding-top: 60px;
}